<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <title>Open Servers</title>
</head>
<body>
    <h1>Welcome to the Purplehax Mincraft servers page</h1>
    <h2>A couple of really quick things to point out:</h2>
    <ol>
        <li>
            There are some rules to the servers. See the rules section of this page
        </li>
        <li>
            All servers are bedrock servers currently. You must use a bedrock client to connect!
        </li>
        <li>
            If you would like a server to be added, see the request server section of the page (when I get around to writing it)
        </li>
        <li>
            Most importantly, see rule number 1. I will reiterate here, don't be a dick!
        </li>
    </ol>
    <h1>Quick How to</h1>
    <ol>
        <li>
            Open your bedrock client (the minecraft app)
        </li>
        <li>
            Click on the server tab
        </li>
        <li>
            Scroll to the bottom, click Add Server
        </li>
        <li>
            For the name field, enter whatever you want to call it
        </li>
        <li>
            For the Server Address enter minecraft.purplehax.com
        </li>
        <li>
            For the Port field, enter the port from the lists below that you want to connect to
        </li>
        <li>
            Follow the rules and have fun
        </li>
    </ol>
    <h1> Purplehax minecraft rules</h1>
    <ol>
        <li>
            Don't be a dick!
        </li>
        <li>
            I can't believe I have to say this, but be respectful of people. No hate talk, no homophobic talk, no racism. When in question, see rule 1
        </li>
        <li>
            Eventually I will have servers set up for underage people to play in. If you join one of those servers, understand what it is and act accordingly. If you do not, I will ban you from all servers.
        </li>
        <li>
            Have fun!!!
        </li>
    </ol>
    <h1>Survival Servers</h1>
    <ol>
        <li>
            Peaceful server: minecraft.purplehax.com Port: 19144 
        </li>
        <li>
            Easy server: minecraft.purplehax.com Port: 19138 
        </li>
        <li>
            Medium server: minecraft.purplehax.com Port 19142 
        </li>
        <li>
            Hard Server: minecraft.purplehax.com Port 19136
        </li>

    </ol>
        <h1> Creative Servers</h1>
    <ol>
        <li>
            Creative server: minecraft.purplehax.com Port 19146 
        </li>
    </ol>
    <h1>
        Theme Servers
    </h1>
    <ol>
        <li>
            The Journey: minecraft.purplehax.com Port 19134
        </li>
    </ol>
    <h1> Satisfactory Servers </h1>
    <ol>
	    <li> Satisfactory Server: Port UDP 15777 </li>
    </ol>
    <p>
        More Servers to come!!!
    </p>
    <h1>
        Server Requests
    </h1>
    <ol>
        <li>
            Go <a href="https://github.com/edgecases-Purplehax/minecraft_servers/issues" target="_blank">here</a>
        </li>
        <li>
            Click new issue
        </li>
        <li>
            Put any information you have (ie seed, difficulty level, etc) for the server you would like to see created
        </li>
        <li>
            Once the issue is created, I will work on adding it. I try to get servers up with in 7 days of submission
        </li>
        <li>
            Keep in mind, this server will be listed on the public server list. If you want a dedicated server see the bottom of the page.
        </li>
    </ol>
<h3>If you would like a dedicated server, you can contact me and we can work something out. Nothing in life is free, but I will make sure it is a fair price</h3>
</body>
</html>
